html {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.obj-cover {
    object-fit: cover;
}

.wow {
    visibility: hidden;
}

.max-900 {
    max-width: max_width(900);
}

.max-1000 {
    max-width: max_width(1000);
}

.max-500 {
    max-width: max_width(500);
}

.menu-opened {
    overflow: hidden;
}

a {
    color: $color-3;
    &:hover {
        color: $color-1;
    }
}

.gx-90 {
    @media (min-width: 1200px) {
        --bs-gutter-x: 90px;
    }
}

.max-115 {
    max-width: max_width(115);
    @media (max-width: 767px) {
        max-width: 83px;
    }
}

.max-250 {
    max-width: max_width(250);
}

.title h2 {
    color: $color-1;
    font-size: 2.2222rem;
    font-weight: 600;
    @media (max-width: 767px) {
        font-size: 2rem;
    }
}

.title h4 {
    color: $color-1;
    font-weight: 600;
}

.color-accent {
    color: $color-3;
}

.round-20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.border {
    border: 1px solid #CCCCCC;
}

.max-h-260 {
    height: 260px;
    @media (max-width: 570px) {
        height: 200px;
    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 80px;
    background: $color-2;
    opacity: 1;
    border-radius: 5px;
}

.swiper-pagination-bullet {
    background: #EDEDED;
    width: 30px;
    opacity: 1;
    border-radius: 5px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px;
}

.shadow {
    box-shadow: 0 .3px 10px rgba(0, 0, 0, .16)!important;
}

.breadcrumb-item.active {
    font-weight: 600;
    font-size: 30px;
}

.breadcrumb-item+.breadcrumb-item {
    color: #818181;
    font-size: 0.8889rem;
}

.has-hover {
    img {
        @include transition(all, 0.35s);
    }
    &:hover img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

.index-1 {
    z-index: 99;
}

.h-100 {
    min-height: auto;
    @media (max-width: 767px) {
        height: auto !important;
    }
}