$color-1: #34241C;
$color-2: #AE9879;
$color-3: #2E527C;
$color-4: #C4A476;
$color-5: #A8A8A8;
$bg-color:#F7F7F7;
$base-url: '/assets/' !default;
@mixin d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($type, $time) {
    transition: $type $time ease;
    -webkit-transition: $type $time ease;
    -moz-transition: $type $time ease;
    -ms-transition: $type $time ease;
    -o-transition: $type $time ease;
}

@function asset($base, $type, $path) {
    @return url($base + $type + $path);
}

@function image($path, $base: $base-url) {
    @return asset($base, 'images/', $path);
}

@function font($path, $base: $base-url) {
    @return asset($base, 'fonts/', $path);
}

@function max_width($width) {
    @return ( $width + px);
}

.btn-outline-secondary {
    --bs-btn-color: #818181;
    --bs-btn-border-color: #CCCCCC;
    --bs-btn-hover-bg: #818181;
    --bs-btn-hover-border-color: #818181;
    --bs-btn-active-bg: #CCCCCC;
    --bs-btn-active-border-color: #CCCCCC;
    --bs-btn-disabled-color: #CCCCCC;
    --bs-btn-disabled-border-color: #CCCCCC;
    --bs-btn-border-radius: 3px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #2E527C;
}

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #CCCCCC;
    --bs-breadcrumb-item-padding-x: 0.6rem;
    --bs-breadcrumb-item-active-color: #34241C;
    --bs-breadcrumb-divider: "|";
    font-size: 1rem;
    align-items: center;
}