.card-horizontal {
    .card-hoz {
        p {
            font-size: 1.2222rem;
            color: #34241C;
            font-weight: 400;
            line-height: 1.9444rem;
            @media (max-width: 570px) {
                font-size: 1.1rem;
                line-height: 1.8rem;
            }
        }
        h4 {
            font-size: 1.6667rem;
            color: #2E527C;
            font-weight: 700;
            @media (max-width: 570px) {
                font-size: 1.4rem;
            }
        }
    }
}

.card-vertical {
    .image {
        h4 {
            @include transition(all, 0.5s);
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgb(46 82 124 / 57%);
            width: 100%;
            height: 100%;
            margin: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 20px;
            height: 0;
            opacity: 0;
        }
    }
    .card-hoz {
        &:hover h4 {
            opacity: 1;
            height: 100%;
        }
    }
}