    .hero {
        .swiper-slide {
            &:hover .title {
                bottom: 0;
            }
        }
        .title {
            background-color: $color-4;
            position: absolute;
            bottom: -100px;
            z-index: 1;
            left: 0;
            right: 0;
            @media (max-width: 767px) {
                bottom: 0;
            }
            @include transition (all, 0.5s);
            h3 {
                font-size: 1.6667rem;
                padding: 1.25rem;
                color: $color-1;
                @media (max-width: 767px) {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }
        .next-match {
            color: $color-2;
            background-image: linear-gradient(to bottom, #2E527C, #17293E);
            h6 {
                color: $color-2;
                font-size: 1.3889rem
            }
            .max-225 {
                max-width: max_width(224);
            }
            .logo-club {
                img {
                    width: 76px;
                    height: 76px;
                }
            }
            time {
                font-size: 1.5556rem;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
    /*------------------inner-hero-----------------------*/
    
    .inner-hero {
        background-image: linear-gradient(to left, #f4f4f4, #f4f4f429);
        .image {
            position: absolute;
            width: 150px;
            top: 18px;
            left: 0;
            @media (max-width: 480px) {
                width: 90px;
                top: 30px;
                left: 14px;
            }
        }
    }