.news {
    h5 {
        color: $color-1;
        font-size: 1.6667rem;
        @media (max-width: 1199px) and (min-width: 768px) {
            font-size: 1.3rem;
        }
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    .card-text,
    .post-info {
        color: #818181;
    }
    .card-img-top {
        @media (min-width: 1400px) {
            height: 227px;
        }
    }
    .card {
        @media (min-width: 1400px) {
            height: 344px;
        }
    }
    .author {
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #D9D9D9;
        }
        .name {
            color: $color-2;
            font-size: 0.8889rem;
        }
        i {
            color: $color-3;
            font-size: 0.8889rem;
        }
    }
    .news-cat {
        .category {
            background-color: $color-1;
            color: white;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            min-height: 50px;
            padding: 0.2rem 1.2rem;
            cursor: pointer;
            @media (max-width: 570px) {
                flex: 1 0 calc(50% - 0.5rem);
                font-size: 0.9rem;
            }
        }
        .active {
            background-color: $color-3;
        }
    }
    .node-content {
        h2 {
            color: $color-1;
        }
        p {
            @extend .post-info
        }
    }
    .tag {
        background-color: $color-4;
        color: #fff;
        padding: 0.2rem 0.7rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-size: 0.8889rem;
    }
    .share_post .dropdown-toggle {
        cursor: pointer;
        border: 1px solid $color-5;
        background-color: #fff;
        padding: 0.5rem;
        color: $color-3;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &:after {
            display: none;
        }
    }
    .show {
        display: grid;
        a {
            span {
                color: $color-5;
                font-size: 0.7778rem;
            }
            &:hover span {
                color: $color-1;
            }
        }
        .fa-twitter {
            color: rgb(29, 155, 240);
        }
        li {
            display: grid;
            gap: 6px;
            align-items: center;
        }
        .fa-snapchat-ghost {
            color: #fffc00;
        }
    }
    .related-news {
        h5 {
            font-size: 1.1667rem;
        }
    }
}

.load-more {
    color: $color-3;
    font-weight: 600;
}


/*---------------RTL-----------------*/

[lang="en"] {
    .news {
        i {
            transform: scaleX(-1);
        }
    }
}