.vision {
    background-image: linear-gradient(to bottom, #2E527C, #17293E);
    &:after {
        content: "";
        background-image: url(../images/footer-bg.png);
        position: absolute;
        height: 265px;
        z-index: 0;
        width: 215px;
        background-size: 100%;
        bottom: 0;
        background-repeat: no-repeat;
        right: 25px;
    }
    p {
        font-size: 1.3889rem;
        color: $color-4;
    }
    h4 {
        font-size: 1.9rem;
    }
}